---
# empty front matter
---
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="../css/tabStyles.css">
    <script src="https://cdn.jsdelivr.net/gh/google/code-prettify@master/loader/run_prettify.js"></script>
    <script src="../js/tabs.js"></script>
</head>
<body>



<!-- howto: https://www.w3schools.com/howto/howto_js_tabs.asp -->

<!-- Tab links -->
<div class="tab">
  <button class="tablinks" onclick="openTab(event, 'Java')" id="defaultOpen">Java</button>
  <!--
  <button class="tablinks" onclick="openTab(event, 'Python')">Python</button>
  <button class="tablinks" onclick="openTab(event, 'CSharp')">C#</button>
  <button class="tablinks" onclick="openTab(event, 'Kotlin')">Kotlin</button>
  -->
</div>

<!-- Tab content -->
<div id="Java" class="tabcontent">
<P><B>IBomba.java</B></P>
<pre class="prettyprint">
{% include_relative bombaObjetivo/IBomba.java %}
</pre>
<P><B>Bomba.java</B></P>
<pre class="prettyprint">
{% include_relative bombaObjetivo/Bomba.java %}
</pre>
<P><B>IObjetivo.java</B></P>
<pre class="prettyprint">
{% include_relative bombaObjetivo/IObjetivo.java %}
</pre>
<P><B>Objetivo.java</B></P>
<pre class="prettyprint">
{% include_relative bombaObjetivo/Objetivo.java %}
</pre>
<P><B>JuegoBombas2.java</B></P>
<pre class="prettyprint">
{% include_relative bombaObjetivo/JuegoBombas2.java %}
</pre>
<P><B>SolucionReto.java</B></P>
<pre class="prettyprint">
{% include_relative bombaObjetivo/SolucionReto.java %}
</pre>
</div>


<!-- Open default tab -->
<script>
    // Include external HTML files
    // includeHTML();
    // Get the element with id="defaultOpen" and click on it
    document.getElementById("defaultOpen").click();
</script> 

</body>
</html>

