---
# empty front matter
---
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="../css/tabStyles.css">
    <script src="https://cdn.jsdelivr.net/gh/google/code-prettify@master/loader/run_prettify.js"></script>
    <script src="../js/tabs.js"></script>
</head>
<body>



<!-- howto: https://www.w3schools.com/howto/howto_js_tabs.asp -->

<!-- Tab links -->
<div class="tab">
  <button class="tablinks" onclick="openTab(event, 'Java')" id="defaultOpen">Java</button>
  <button class="tablinks" onclick="openTab(event, 'Python')">Python</button>
  <button class="tablinks" onclick="openTab(event, 'Node')">Node.js</button>
  <button class="tablinks" onclick="openTab(event, 'Typescript')">Typescript</button>
</div>

<!-- Tab content -->
<div id="Java" class="tabcontent">

<P><B>Contador.java</B></P>
<pre class="prettyprint">
{% include_relative contador/Contador.java %}
</pre>

<P><B>ImplementationContador.java</B></P>
<pre class="prettyprint">
{% include_relative contador/ImplementacionContador.java %}
</pre>

</div>

<div id="Python" class="tabcontent">
<P><B>Contador.py</B></P>
<pre class="prettyprint">
{% include_relative contador/Contador.py %}
</pre>
</div>

<div id="Node" class="tabcontent">
<P><B>contador.js</B></P>
<pre class="prettyprint">
{% include_relative contador/contador.js %}
</pre>
</div>

<div id="Typescript" class="tabcontent">
<P><B>Contador.ts</B></P>
<pre class="prettyprint">
{% include_relative contador/Contador.ts %}
</pre>
</div>


<!-- Open default tab -->
<script>
    // Include external HTML files
    //includeHTML();
    // Get the element with id="defaultOpen" and click on it
    document.getElementById("defaultOpen").click();
</script>

</body>
</html>
