---
# empty front matter
---
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="../css/tabStyles.css">
    <script src="https://cdn.jsdelivr.net/gh/google/code-prettify@master/loader/run_prettify.js"></script>
    <script src="../js/tabs.js"></script>
</head>
<body>



<!-- howto: https://www.w3schools.com/howto/howto_js_tabs.asp -->

<!-- Tab links -->
<div class="tab">
  <button class="tablinks" onclick="openTab(event, 'Java')" id="defaultOpen">Java</button>
  <button class="tablinks" onclick="openTab(event, 'Python')">Python</button>
  <button class="tablinks" onclick="openTab(event, 'CSharp')">C#</button>
  <button class="tablinks" onclick="openTab(event, 'Kotlin')">Kotlin</button>
  <button class="tablinks" onclick="openTab(event, 'nodeES6')">Node.js (ES6)</button>
  <button class="tablinks" onclick="openTab(event, 'Node')">Node.js</button>
  <button class="tablinks" onclick="openTab(event, 'TypeScript')">TypeScript</button>
  <button class="tablinks" onclick="openTab(event, 'Rust')">Rust</button>
</div>


<!-- Tab content -->
<div id="Java" class="tabcontent">
<P><B>Punto2D.java</B></P>
<pre class="prettyprint">
{% include_relative punto2D/Punto2D.java %}
</pre>
<P><B>Punto2DCartesiano.java</B></P>
<pre class="prettyprint">
{% include_relative punto2D/Punto2DCartesiano.java %}
</pre>
<P><B>Punto2DPolar.java</B></P>
<pre class="prettyprint">
{% include_relative punto2D/Punto2DPolar.java %}
</pre>
</div>

<div id="Python" class="tabcontent">
<P><B>point2D.py</B></P>
<pre class="prettyprint">
{% include_relative punto2D/point2D.py %}
</pre>
<P><B>point2DCartesian.py</B></P>
<pre class="prettyprint">
{% include_relative punto2D/point2DCartesian.py %}
</pre>
<P><B>point2DPolar.py</B></P>
<pre class="prettyprint">
{% include_relative punto2D/point2DPolar.py %}
</pre>
</div>

<div id="CSharp" class="tabcontent">
<P><B>Program.cs</B></P>
<pre class="prettyprint">
{% include_relative punto2D/Program.cs %}
</pre>
</div>

<div id="Kotlin" class="tabcontent">
<P><B>Puntos.kt</B></P>
<pre class="prettyprint">
{% include_relative punto2D/Puntos.kt %}
</pre>
</div>

<div id="Node" class="tabcontent">
<P><B>Punto2D.js</B></P>
<pre class="prettyprint">
{% include_relative punto2D/punto2D.js %}
</pre>
</div>

<div id="nodeES6" class="tabcontent">
<P><B>punto2Dnew.js</B></P>
<pre class="prettyprint">
{% include_relative punto2D/punto2Dnew.js %}
</pre>
</div>

<div id="TypeScript" class="tabcontent">
<P><B>Puntos2D.ts</B></P>
<pre class="prettyprint">
{% include_relative punto2D/Puntos2D.ts %}
</pre>
</div>

<div id="Rust" class="tabcontent">
<P><B>Punto2D.rs</B></P>
<pre class="prettyprint">
{% include_relative punto2D/Punto2D.rs %}
</pre>
</div>


<!-- Open default tab -->
<script>
    // Include external HTML files
    // includeHTML();
    // Get the element with id="defaultOpen" and click on it
    document.getElementById("defaultOpen").click();
</script>

</body>
</html>
